In [3]:
import pandas as pd

In [8]:
""" 파일이름 불러올때
from glob import glob
glob("boostcourse_datazip/*")
"""

['boostcourse_datazip/도로교통공단_월별 주야별 교통사고 통계_20221231.csv']

In [9]:
#한글 읽을때 encoding = 'cp949'
pd.read_csv('/content/boostcourse_datazip/도로교통공단_월별 주야별 교통사고 통계_20221231.csv', encoding = 'cp949')

    발생월 주야   사고건수  사망자수  중상자수   경상자수  부상신고자수
0     1  주   9588    90  2546  10464     792
1     1  야   6306   103  1690   6795     504
2     2  주   7575    78  2001   8228     657
3     2  야   4787    83  1300   4981     421
4     3  주   8322    96  2167   8783     600
5     3  야   5298    87  1473   5393     437
6     4  주  10472   112  2798  11475     961
7     4  야   6000   104  1680   6398     487
8     5  주  11749   136  3198  12531    1107
9     5  야   6316    99  1674   6676     586
10    6  주  10377   139  2746  11055     940
11    6  야   6104    92  1692   6396     600
12    7  주  10780   120  2802  11993    1032
13    7  야   6335   121  1697   6684     604
14    8  주  10360   124  2669  11560     953
15    8  야   6136   118  1632   6598     542
16    9  주  10799   146  2754  11810     967
17    9  야   6417   111  1694   6805     614
18   10  주  11590   168  3083  12795    1097
19   10  야   6918   117  1800   7384     616
20   11  주  10944   159  2838  11474    1017
21   11  야   6634    98  1706   7087     621
22   12  주  10416   133  2510  11547     920
23   12  야   6613   101  1565   7518     583

In [14]:
#여러 파일 한번에 로드
from glob import glob
file_csv = glob("/content/drive/MyDrive/소상공인시장진흥공단_상가(상권)정보_20230630/상가(상권)정보_20230630/*.csv")
file_csv

['/content/drive/MyDrive/소상공인시장진흥공단_상가(상권)정보_20230630/상가(상권)정보_20230630/소상공인시장진흥공단_상가(상권)정보_강원_202306.csv',
 '/content/drive/MyDrive/소상공인시장진흥공단_상가(상권)정보_20230630/상가(상권)정보_20230630/소상공인시장진흥공단_상가(상권)정보_경남_202306.csv',
 '/content/drive/MyDrive/소상공인시장진흥공단_상가(상권)정보_20230630/상가(상권)정보_20230630/소상공인시장진흥공단_상가(상권)정보_경기_202306.csv',
 '/content/drive/MyDrive/소상공인시장진흥공단_상가(상권)정보_20230630/상가(상권)정보_20230630/소상공인시장진흥공단_상가(상권)정보_대구_202306.csv',
 '/content/drive/MyDrive/소상공인시장진흥공단_상가(상권)정보_20230630/상가(상권)정보_20230630/소상공인시장진흥공단_상가(상권)정보_광주_202306.csv',
 '/content/drive/MyDrive/소상공인시장진흥공단_상가(상권)정보_20230630/상가(상권)정보_20230630/소상공인시장진흥공단_상가(상권)정보_경북_202306.csv',
 '/content/drive/MyDrive/소상공인시장진흥공단_상가(상권)정보_20230630/상가(상권)정보_20230630/소상공인시장진흥공단_상가(상권)정보_부산_202306.csv',
 '/content/drive/MyDrive/소상공인시장진흥공단_상가(상권)정보_20230630/상가(상권)정보_20230630/소상공인시장진흥공단_상가(상권)정보_대전_202306.csv',
 '/content/drive/MyDrive/소상공인시장진흥공단_상가(상권)정보_20230630/상가(상권)정보_20230630/소상공인시장진흥공단_상가(상권)정보_서울_202306.csv',
 '/content/drive/MyDrive/소상공인시장진흥공단_상가(상권)정보_20230630/상가(상권)정보_20230630/소상공인시장진흥공단_상가(상권)정보_인천_202306.csv',
 '/content/drive/MyDrive/소상공인시장진흥공단_상가(상권)정보_20230630/상가(상권)정보_20230630/소상공인시장진흥공단_상가(상권)정보_울산_202306.csv',
 '/content/drive/MyDrive/소상공인시장진흥공단_상가(상권)정보_20230630/상가(상권)정보_20230630/소상공인시장진흥공단_상가(상권)정보_세종_202306.csv',
 '/content/drive/MyDrive/소상공인시장진흥공단_상가(상권)정보_20230630/상가(상권)정보_20230630/소상공인시장진흥공단_상가(상권)정보_충남_202306.csv',
 '/content/drive/MyDrive/소상공인시장진흥공단_상가(상권)정보_20230630/상가(상권)정보_20230630/소상공인시장진흥공단_상가(상권)정보_제주_202306.csv',
 '/content/drive/MyDrive/소상공인시장진흥공단_상가(상권)정보_20230630/상가(상권)정보_20230630/소상공인시장진흥공단_상가(상권)정보_전북_202306.csv',
 '/content/drive/MyDrive/소상공인시장진흥공단_상가(상권)정보_20230630/상가(상권)정보_20230630/소상공인시장진흥공단_상가(상권)정보_전남_202306.csv',
 '/content/drive/MyDrive/소상공인시장진흥공단_상가(상권)정보_20230630/상가(상권)정보_20230630/소상공인시장진흥공단_상가(상권)정보_충북_202306.csv']

In [18]:
#여러 파일 한번에 불러오기
file_list = []
for file_csv_name in file_csv:
  temp = pd.read_csv(file_csv_name)
  file_list.append(temp)

<ipython-input-18-9f9f31f7fe97>:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)
<ipython-input-18-9f9f31f7fe97>:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)
<ipython-input-18-9f9f31f7fe97>:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)
<ipython-input-18-9f9f31f7fe97>:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)
<ipython-input-18-9f9f31f7fe97>:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)
<ipython-input-18-9f9f31f7fe97>:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)
<ipython-input-18-9f9f31f7fe97>:4: DtypeWarning: Columns (2,35) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)
<ipython-input-18-9f9f31f7fe97>:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)
<ipython-input-18-9f9f31f7fe97>:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)
<ipython-input-18-9f9f31f7fe97>:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)
<ipython-input-18-9f9f31f7fe97>:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)
<ipython-input-18-9f9f31f7fe97>:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)
<ipython-input-18-9f9f31f7fe97>:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)
<ipython-input-18-9f9f31f7fe97>:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)
<ipython-input-18-9f9f31f7fe97>:4: DtypeWarning: Columns (2,35) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)
<ipython-input-18-9f9f31f7fe97>:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)

In [19]:
#불러온 여러파일 한 파일로 합치기 (형식이 같아야)
df = pd.concat(file_list)
df.shape

(2417759, 39)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2417759 entries, 0 to 81722
Data columns (total 39 columns):
 #   Column     Dtype
---  ------     -----
 0   상가업소번호     object
 1   상호명        object
 2   지점명        object
 3   상권업종대분류코드  object
 4   상권업종대분류명   object
 5   상권업종중분류코드  object
 6   상권업종중분류명   object
 7   상권업종소분류코드  object
 8   상권업종소분류명   object
 9   표준산업분류코드   object
 10  표준산업분류명    object
 11  시도코드       int64
 12  시도명        object
 13  시군구코드      int64
 14  시군구명       object
 15  행정동코드      int64
 16  행정동명       object
 17  법정동코드      int64
 18  법정동명       object
 19  지번코드       int64
 20  대지구분코드     int64
 21  대지구분명      object
 22  지번본번지      float64
 23  지번부번지      float64
 24  지번주소       object
 25  도로명코드      int64
 26  도로명        object
 27  건물본번지      float64
 28  건물부번지      float64
 29  건물관리번호     object
 30  건물명        object
 31  도로명주소      object
 32  구우편번호      int64
 33  신우편번호      int64
 34  동정보        float64
 35  층정보        object
 36  호정보        float64
 37  경도         float64
 38  위도         float64
dtypes: float64(8), int64(9), object(22)
memory usage: 737.8+ MB