<a href="https://colab.research.google.com/github/jhk990602/datapractice/blob/main/%ED%98%BC%EC%9E%90%EA%B3%B5%EB%B6%80%ED%95%98%EB%8A%94%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D4%EC%9E%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import gdown
gdown.download('https://bit.ly/3736JW1', 'ns_book6.csv', quiet= False)

Downloading...
From: https://bit.ly/3736JW1
To: /content/ns_book6.csv
100%|██████████| 55.0M/55.0M [00:00<00:00, 94.3MB/s]

'ns_book6.csv'

In [ ]:
import pandas as pd
ns_book6 = pd.read_csv('ns_book6.csv', low_memory = False)
ns_book6.head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021.0,9788937444319,NaN,NaN,NaN,NaN,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021.0,9791190123969,NaN,NaN,NaN,NaN,1,0,2021-03-19
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021.0,9788968332982,NaN,NaN,NaN,NaN,1,0,2021-03-19
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021.0,9788970759906,NaN,NaN,NaN,NaN,1,0,2021-03-19
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021.0,9788934990833,NaN,NaN,NaN,NaN,1,0,2021-03-19

In [ ]:
ns_book6.describe()

                  번호           발행년도           도서권수           대출건수
count  379976.000000  379976.000000  379976.000000  379976.000000
mean   201726.332847    2008.516306       1.135874      11.504629
std    115836.454596       8.780529       0.483343      19.241926
min         1.000000    1947.000000       0.000000       0.000000
25%    102202.750000    2003.000000       1.000000       2.000000
50%    203179.500000    2009.000000       1.000000       6.000000
75%    301630.250000    2015.000000       1.000000      14.000000
max    401681.000000    2650.000000      40.000000    1765.000000

In [ ]:
sum(ns_book6['도서권수']==0) #도서권수 열의 값이 0인 행 개수를 셉니다

3206

In [ ]:
ns_book7 = ns_book6[ns_book6['도서권수']>0] #전체데이터(379976) 개에 비하면 3200개는 1%가 안되며, 영향을 미칠 수 도 있지만 일단 무시한 것이 book7

In [ ]:
ns_book7.describe(percentiles=[0.3,0.6,0.9])

                  번호           발행년도           도서권수           대출건수
count  376770.000000  376770.000000  376770.000000  376770.000000
mean   202977.476649    2008.460076       1.145540      11.593439
std    115298.245784       8.773148       0.473853      19.279409
min         1.000000    1947.000000       1.000000       0.000000
30%    124649.700000    2004.000000       1.000000       2.000000
50%    204550.500000    2009.000000       1.000000       6.000000
60%    243537.400000    2011.000000       1.000000       8.000000
90%    361341.100000    2018.000000       2.000000      28.000000
max    401681.000000    2650.000000      40.000000    1765.000000

In [ ]:
#열의 데이터 타입이 수치가 아닌 다른 데이터 타입의 열의 기술통계를 보고 싶다면 include 매개변수에 데이터 타입을 지정
ns_book7.describe(include='object')

,도서명,저자,출판사,ISBN,세트 ISBN,부가기호,권,주제분류번호,등록일자
count,376770,376770,376770,376770,55866,308252,61793,359792,376770
unique,336408,248850,21875,350810,14875,17,834,12467,4562
top,승정원일기,세종대왕기념사업회 [편],문학동네,9788937430299,9788937460005,0,1,813.6,1970-01-01
freq,250,303,4410,206,702,158235,13282,14816,28185

count 행은 누락된 값을 제외한 데이터 개수, unique 행은 고유한 값의 개수, top행은 갖아 많이 등장하는 값, freq행은 top 행에 등장하는 항목의 빈도수

In [ ]:
x = [10,20,30]
sum = 0
for i in range(3):
  sum += x[i]
print("평균:", sum/len(x))

평균: 20.0

In [ ]:
ns_book7['대출건수'].mean()

11.593438968070707

In [ ]:
ns_book7['대출건수'].median() #중앙값

6.0

In [ ]:
#데이터개수가 짝수일 시 중앙값
temp_df = pd.DataFrame([1,2,3,4])
temp_df.median()

0    2.5
dtype: float64

In [ ]:
#중복값 제거하고 중앙값 구하기
ns_book7['대출건수'].drop_duplicates().median()

183.0

중복값을 제외했을 시 중앙값이 매우 높아짐, => 작은 대출건수에 중복된 행이 많음

In [ ]:
ns_book7['대출건수'].min()

0

In [ ]:
ns_book7['대출건수'].max()

1765

In [ ]:
#분위수 계산
ns_book7['대출건수'].quantile(0.25)

2.0

In [ ]:
ns_book7['대출건수'].quantile([0.25,0.5,0.75])

0.25     2.0
0.50     6.0
0.75    14.0
Name: 대출건수, dtype: float64

In [ ]:
#1,2,3,4,5 가 있을때 90%에 있는 값 출력
pd.Series([1,2,3,4,5]).quantile(0.9)

4.6

interpolation매개변수에서 중간값을 계산하는 방법을 결정. 기본값은 linear

In [ ]:
#백분위 구하기
borrow_10_flag = ns_book7['대출건수'] < 10 #대출건수가 10보다 작은지 불리언 배열만듬

In [ ]:
borrow_10_flag.mean() #평균, 10보다 작은 값이 차지하는 비율을 얻을 수 있음, true = 1, false = 0이므로

0.6402712530190833

In [ ]:
ns_book7['대출건수'].quantile(0.65)

10.0

In [ ]:
#분산
ns_book7['대출건수'].var()

371.69563042906674

In [ ]:
#표준편차
ns_book7['대출건수'].std()

19.279409493785508

In [ ]:
#최빈값
ns_book7['도서명'].mode()

0    승정원일기
Name: 도서명, dtype: object

In [ ]:
ns_book7['발행년도'].mode()

0    2012.0
Name: 발행년도, dtype: float64

In [ ]:
ns_book7.mean(numeric_only=True) #수치형열에 대한 평균값계산

번호      202977.476649
발행년도      2008.460076
도서권수         1.145540
대출건수        11.593439
dtype: float64

In [30]:
ns_book7.loc[:,'도서명':].mode()

,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,승정원일기,세종대왕기념사업회 [편],문학동네,2012.0,9788937430299,9788937460005,0,1,813.6,1,0,1970-01-01

승정원일기는 문학동네 출판사의 도서가 아닐 수 있음, 그냥 각 항목별로 최빈값

In [31]:
ns_book7.to_csv('ns_book7.csv',index=False)